/* ************************************** TAG SELECTORS ************************ */
body {
  background-color: #5c94bdc8;
}

hr {
  height: 0;
  width: 9%;
  border-color: #512c62;
  border-style: none;
  border-top-style: dotted;
  border-width: 7px;
}

h1 {
  color: #202040;
  text-transform: uppercase;
}
h3
{
  color: #202040;
}
h4
{
  color: #202040;
}
a
{
  color:blue;
  text-decoration: none;
}
td :hover
{
  color:#000000;
}
/* ************************************* CLASS SELECTORS ***************************** */
.h4class
{
  color: red;
}
.circular
{
  border-radius: 50%;
}

/* ************************************** ID SELECTORS *********************************  */

#ht
{
  color:brown;
}
